# directories

__pycache__/
asm/
asm.eu/
assets/
assets.eu/
bin/
build/
build.eu/
nonmatchings/
reference/

# symlinks


# files

*.ld
*auto.txt
*.o
*.ok
.splat_cache
*.bin
*.z64
progress*.csv
*.inc.c
*.ply
ctx.c
ctx.c.m2c

# generated
reference_index.json
pah.conf
.vscode/
